<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
  <display-name>GestionSuscripcionWS</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/applicationContext.xml</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>GestionSuscripcionWSPortTypeSOAP11impl</servlet-name>
    <url-pattern>/GestionSuscripcionWSSOAP11Port</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionSuscripcionWSPortTypeSOAP11impl</servlet-name>
    <servlet-class>pe.com.comercio.eai.services.gestionsuscripcionws.ws.GestionSuscripcionWSPortTypeSOAP11impl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionSuscripcionWSPortTypeSOAP12impl</servlet-name>
    <url-pattern>/GestionSuscripcionWSSOAP12Port</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionSuscripcionWSPortTypeSOAP12impl</servlet-name>
    <servlet-class>pe.com.comercio.eai.services.gestionsuscripcionws.ws.GestionSuscripcionWSPortTypeSOAP12impl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>